# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment folders
.env/
venv/
.venv/

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store

# Test cache
.pytest_cache/

# Logs and build
*.log
build/
dist/
